{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Ученики{% endblock title %}

{% block content %}

<div>
  <h1>Список всех учеников</h1>
  <form method="GET" action="{% url 'student_list' %}">
    <input type="text" name="search" placeholder="Search...">
    <button class="btn btn-success" type="submit">Search</button>
  </form>

  {% for student in students %}
  <ul>
    <li><a href="{{ student.get_absolute_url }}">{{ student.full_name }}</a></li>

    <li>
      {% for class_obj in student.student_class.all %}
      {{ class_obj.name }}
      {% empty %}
      Не привязан к классу
      {% endfor %}
    </li>
  </ul>
  {% empty %}
  Список пуст
  {% endfor %}
  <a href="{% url 'student_create' %}">Create Student</a>|
  <a href="{% url 'class' %}">Create Class</a>
</div>

{% endblock content %}